.App {
  font-family: monospace;
  height: 100vh;
  text-align: center;
}

.center {
  justify-content: center;
}

.space-btw {
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.grow1 {
  flex: 1
}

.btn {
  padding: 10px;
  background-color: lightsteelblue;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}


.userComp {
  width: 400px;
  padding: 20px;
  background-color: #e0e0e0;
}

.userImage {
  height: 100px;
}

.product {
  padding: 20px ;
  font-size: 16px;
}

.product img {
  height: 100px;
}


