.App {
    text-align: center;
}

.d-flex {
    display: flex;
}

.column  {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.space-btw {
    justify-content: space-between;
}

.p-20 {
    padding: 20px;
}

.grow1 {
    flex: 1;
}

.card {
    padding: 1rem;
    margin: 5rem;
    width: 18rem;
}

.card img {
    width: 90%;
}

.toolbar {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: #e11717;
    color: wheat;
    font-weight: 700;
}

.toolbar a {
    margin-right: 30px;
    text-decoration: none;
    color: wheat;
}

.br-p {
    background-color: rgba(84, 66, 66, 0.15);
}
p {
    margin: 0 5px;
}
h3 {
    margin: 0 5px;
}
.slot {
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
}